:root {
    --blue: #103d7e;
    --indigo: #6e00ff;
    --purple: #510FA8;
    --pink: #f074ad;
    --red: #FF5630;
    --orange: #FFAB00;
    --yellow: #ffcc00;
    --green: #36B37E;
    --teal: #00B8D9;
    --cyan: #4bd6e5;
    --white: #FFF;
    --gray: #C0CCDA;
    --gray-dark: #3C4858;
    --grey-dark02: #43484a;
    --primary: #306EFF;
    --secondary: #EFF2F7;
    --success: #36B37E;
    --info: #00B8D9;
    --warning: #FFAB00;
    --box: #3e4557;
    --danger: #FF5630;
    --light: #EFF2F7;
    --dark: #273444;
    --neutral: #FFF;
    --white: #FFF;
    --white2: #c4c4c4;
    --white-grey: #707070;
}

body {
    margin: 0;
}

/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */

.maincontent .auswahl {
    padding-top: 1px;
    background-color: var(--dark);
    padding-bottom: 20px;
}

.maincontent .auswahl h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
}

.maincontent .auswahl span {
    font-family: 'Lato', sans-serif;
    color: var(--gray);
    line-height: 25px;
}

/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */

.maincontent .produkte {
    padding-top: 1px;
    background-image: radial-gradient(#3C4858 , #273444);
    padding-bottom: 20px;
}

.maincontent .produkte h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
}

.maincontent .produkte h2 {
    color: var(--gray);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.maincontent .produkte .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.maincontent .produkte .links a {
    background-color: var(--dark);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
    border: var(--info) solid 2px;
    transition-property:background-color;
    transition-duration:1s;
}

.maincontent .produkte .links a:hover {
    background-color: #3C4858;
    text-decoration: none;
}

.maincontent .produkte h3 {
    color: var(--gray);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
}

.maincontent .produkte span {
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
}

.maincontent .produkte info {
    color: var(--warning);
    font-size: 24px;
}

.maincontent .produkte a {
    color: var(--info);
    font-weight: 600;
    text-decoration: none;
}

.maincontent .produkte a:hover {
    text-decoration: underline;
}