:root {
    --blue: #103d7e;
    --indigo: #6e00ff;
    --purple: #510FA8;
    --pink: #f074ad;
    --red: #FF5630;
    --orange: #FFAB00;
    --yellow: #ffcc00;
    --green: #36B37E;
    --teal: #00B8D9;
    --cyan: #4bd6e5;
    --white: #FFF;
    --gray: #C0CCDA;
    --gray-dark: #3C4858;
    --grey-dark02: #43484a;
    --primary: #306EFF;
    --secondary: #EFF2F7;
    --success: #36B37E;
    --info: #00B8D9;
    --warning: #FFAB00;
    --box: #3e4557;
    --danger: #FF5630;
    --light: #EFF2F7;
    --dark: #273444;
    --input: #3c4c5e;
    --neutral: #FFF;
    --white: #FFF;
    --white2: #c4c4c4;
    --white-grey: #707070;
}


*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background: radial-gradient(#33383f, rgb(42, 47, 53));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 575px;
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: #222831;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.404);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 38px;

    background-image: linear-gradient(to right, rgb(162, 0, 255), rgb(74, 15, 236));
    background-size: 100% 4px;
    background-position: bottom;
    background-repeat: no-repeat;
    line-height: 60px;
}
.inputs_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    height: 64px;
    width: 240px;
    margin: 15px;
    padding: 0px 25px;
    border-radius: 10px;
    border: none;
    background-color: #373e49;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.212);
    color: white;
    font-size: 20px;
    transition: 0.2s;
}
a {
    font-family: Tahoma, sans-serif;
    text-align: left;
    color: rgb(159, 161, 190);
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    line-height: 25px;
}
a:hover{
    text-decoration: underline;
}
span {
    display: none;
}
input:hover{
    background-color: #47505f;
}
input:focus{
    background-color: #47505f;
    outline: none;
    width: 265px;
}
input::placeholder{
    color: rgb(159, 161, 190);
}
button{
    height: 64px;
    width: 140px;
    margin-top: 20px;
    border-radius: 1000px;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    background: linear-gradient(to right, rgb(162, 0, 255), rgb(74, 15, 236));
    transition: 0.2s;
}
button:hover{
    width: 200px;
}
button:focus{
    outline: none;
    width: 200px;
}
@media(max-width: 650px){
    form{
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    .inputs_container{
        margin: 80px;
    }
    h1{
        font-size: 32px;
    }
}
