@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --blue: #103d7e;
    --indigo: #6e00ff;
    --purple: #510FA8;
    --pink: #f074ad;
    --red: #FF5630;
    --orange: #FFAB00;
    --yellow: #ffcc00;
    --green: #36B37E;
    --teal: #00B8D9;
    --cyan: #4bd6e5;
    --white: #FFF;
    --gray: #C0CCDA;
    --gray-dark: #3C4858;
    --primary: #306EFF;
    --secondary: #EFF2F7;
    --success: #36B37E;
    --info: #00B8D9;
    --warning: #FFAB00;
    --danger: #FF5630;
    --light: #EFF2F7;
    --dark: #273444;
    --neutral: #FFF;
    --white: #FFF;
}

body {
    padding: 0;
    background-color: #1A1A1A;
}

.trennstrich::after {
    content: "";
    display: block;
    background-color: #103d7e;
    width: 10.8125rem;
    height: 0.125rem;
    margin-top: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: var(--cyan);
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 33%;
    margin-left: 33%;
}

header .navbar {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

header a {
    color: white;
    margin: 25px;
    margin-top: 5px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header .activ:hover {
    text-decoration: none;
}

header .activ {
    font-weight: 600;
}

main {
    margin-top: 25px;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--teal);
    margin-left: 47%;
    margin-right: 47%;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

main h1 {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: var(--gray);
}

main span {
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
    color: var(--gray);
    line-height: 1px;
    font-weight: 600;
}

main .row {
    display: flex;
    justify-content: center;
}

main .box {
    background-color: #262626;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 20px;
    border: #2e2d2d solid 1.5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

main .box h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;
}

main .box span {
    margin-top: 10px;
    line-height: 25px;
    font-weight: 500;
}