@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

div {
    background-color: black;
    opacity: 0.8;
    margin-top: 21%;
    margin-right: 20%;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

strong {
    color: white;
    font-size: 23px;
}

span {
    display: block;
    text-align: center;
    color: rgb(163, 163, 163);
    font-weight: 500;
    font-size: 17px;
    background-color: black;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}